<h1>商品一覧</h1>

<%= link_to  '＋', new_admin_item_path, class:"btn btn-secondary"%>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <tr class="thead-light">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.excluding_tax %></td>
          <td><%= item.genre.name %></td>
          <td>
            <% if item.is_sale_status == true %>
              販売中
            <% else item.is_sale_status != true %>
              販売停止中
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>