<h1>商品一覧</h1>

<p><%= link_to '商品新規登録', new_admin_item_path %></p>

    <table>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.excluding_tax %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_sale_status == true %>
            販売中
          <% else item.is_sale_status != true %>
            販売停止中
          <% end %>
        </td>
      </tr>
      <% end %>

    </table>