<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h1>商品詳細</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="media-left"><%= image_tag @item.get_image(160,160) %></div>
    </div>
    <div class="col-10">
      <table class="table ml-auto">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.explanation %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>税込価格(税抜価格)</td>
          <td><%= @item.add_tax_excluding_tax.to_s(:dalimited) %>
            (<%= @item.excluding_tax %>) 円</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td>
            <% if @item.is_sale_status == true %>
              販売中
            <% else @item.is_sale_status != true %>
              販売停止中
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to "編集する", edit_admin_item_path(@item.id) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>