<div class="container p-3">
  <div class="row">
  <div class="col-md-12">
    <h3>注文情報確認</h3>

    <table class="table">
      <tr>
        <td>商品名</td>
        <td>単価(税込)</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag cart_item.item.image, size: "100x80" %>
            <strong><%= cart_item.item.name %></strong>
          </td>
          <td><%= (cart_item.item.excluding_tax * 1.10).floor.to_s(:delimited) %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= ((cart_item.item.excluding_tax * 1.10).floor * cart_item.quantity).to_s(:delimited) %></td>
        </tr>
      <% end %>
    </table>

    <table class="table">
      <tr>
        <td>送料</td>
        <td><%= @postage %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @cart_items_price.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>請求額</td>
        <td><%= @price_all.to_s(:delimited) %></td>
      </tr>
    </table>

    <h4>支払い方法</h4>

    <% if @selected_payment_method == "credit_card" %>
      クレジットカード
    <% else %>
      銀行振込
    <% end %>

    <h4>お届け先</h4>
    <%= @selected_residence %>

    <%= form_with url: orders_path, method: :post do %>

      <%= hidden_field_tag 'order[payment_method]', @selected_payment_method %>
      <%= hidden_field_tag 'order[residence_type]', @residence_type %>

      <% if @residence_type == "registered_residence" %>
        <%= hidden_field_tag 'order[registered_residence_id]', params[:order][:registered_residence_id] %>
      <% elsif @residence_type == "new_residence" %>
        <%= hidden_field_tag 'order[new_post_code]', params[:order][:new_post_code] %>
        <%= hidden_field_tag 'order[new_residence]', params[:order][:new_residence] %>
        <%= hidden_field_tag 'order[new_name]', params[:order][:new_name] %>
      <% end %>
      <%= submit_tag "注文を確定する", class: "btn btn-success" %>
    <% end %>
  </div>


  </div>
</div>
