<h1>注文履歴一覧</h1>
<p>注文日</p>
<p>配送先</p>
<p>注文商品</p>
<p>注文金額</p>
<p>ステータス</p>
<p>注文詳細</p>

<%= odres.create_at.strftime('%Y/%m/%d')%>
<%= odres.post_code %>
<%= odres.residence %>
<%= odres.name %>






<%= link_to "表示する", order_path(oredr.id) %>
