
<!--会員側商品一覧ページ-->



<div class="container">
  <div class="row">
    <div class=col-lg-3>
      <h2><b>商品一覧</b></h2>
      <span>(全<%= @items.count %>件)</span>
    </div>
  </div>

<br>

  <div class="row">
    <% @items.each do |item| %>

      <div class="col-lg-3">

        <div class="mb-2"><%= link_to item_path(item.id) do %>
             <%= image_tag item.get_image(200,160) %>
             <% end %>
        </div>
        <div class="mb-1"><b><%=item.name %></b></div>
        <div class="mb-1"><b>¥ <%= item.add_tax_excluding_tax.to_s(:dalimited) %></b></div>
      </div>

    <% end %>

  </div>
</div>