
<!--顧客側商品詳細ページ-->

<div class="container">
  <div class="row">

    <div class="col-lg-4">
      <div><%= image_tag @item.get_image(300,300) %></div>
    </div>

    <div class="col-lg-8">
      <h2><b><%= @item.name %></b></h2>
      <p><%= @item.explanation %></p>
      <h4><big>¥ <%= @item.add_tax_excluding_tax.to_s(:dalimited) %></big><font size="3"> (税込)</font></h4>

      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
      <span><%= f.select :quantity, *[1..10], class: 'item' %></span>
      <%= f.hidden_field :item_id, :value => Item.find(params[:id]).id %>
      <span><%= f.submit 'カートに入れる', class: 'btn btn-success btn-sm' %></span>
      <% end %>

    </div>
  </div>
</div>